<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Tambah User</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>

<body class="user-bg">

<nav class="sidebar">

<div class="sidebar-logo">
    <img th:src="@{/images/Bank_Victoria_logo.png}"
         alt="Bank Victoria"
         class="logo-bank-sidebar">
</div>

    <div class="sidebar-menu">
        <a th:href="@{/}">🏠 Beranda</a>
        <a th:href="@{/input}">➕ Input Nasabah</a>
        <a th:href="@{/daftar}">👥 Daftar Nasabah</a>
        <a th:href="@{/simulasi}">💳 Simulasi Kredit</a>
        <a th:href="@{/daftar-kredit}">📋 Daftar Kredit</a>
        <a th:href="@{/laporan}">📊 Laporan</a>
        <a th:href="@{/tentang}">ℹ️ Tentang Aplikasi</a>

        <a th:if="${session.userLogin != null and session.userLogin.role == 'ADMIN'}"
           th:href="@{/users}">
            👤 Manajemen User
        </a>

        <a th:if="${session.userLogin != null and session.userLogin.role == 'ADMIN'}"
           th:href="@{/audit-log}">
            📝 Audit Log
        </a>

        <a th:if="${session.userLogin != null and session.userLogin.role == 'ADMIN'}"
           th:href="@{/database}">
            🗄️ Database
        </a>
    </div>

    <div class="sidebar-user">
        <div class="login-user">
            👤 <span th:text="${session.username}">postgres</span>
        </div>

        <a th:href="@{/logout}" class="logout-btn">
            🚪 Logout
        </a>
    </div>

</nav>

<div class="container">

    <h1>Tambah User</h1>

    <p>
        Halaman ini hanya digunakan oleh ADMIN untuk menambahkan akun pengguna baru.
    </p>

    <div th:if="${error}" class="error-box" th:text="${error}">
        Error
    </div>

    <form th:action="@{/users/tambah}" method="post" class="form-box">

        <label>Username</label>
        <input type="text" name="username" required>

        <label>Email</label>
        <input type="email" name="email" required>

        <label>Password</label>
        <input type="password" name="password" required>

        <label>Konfirmasi Password</label>
        <input type="password" name="confirmPassword" required>

        <label>Role</label>
        <select name="role" required>
            <option value="USER">USER</option>
            <option value="ADMIN">ADMIN</option>
        </select>

        <br><br>

        <button type="submit" class="btn-simpan">
            Simpan User
        </button>

        <a th:href="@{/users}" class="btn-kembali">
            Kembali
        </a>

    </form>

</div>

</body>
</html>