<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Tentang Aplikasi</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">

    <style>
body {
    font-family: Arial, sans-serif;
    margin: 0;
}

.container {
    margin: 40px;

    background: rgba(255,255,255,0.15);

    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);

    border: 1px solid rgba(255,255,255,0.25);

    padding: 30px;

    border-radius: 20px;

    box-shadow: 0 8px 32px rgba(0,0,0,0.25);
}

        h1 {
            color: purple;
        }
    </style>
</head>

<body class="tentang-bg"></body>

<body>

<nav class="sidebar">

<div class="sidebar-logo">
    <img th:src="@{/images/Bank_Victoria_logo.png}"
         alt="Bank Victoria"
         class="logo-bank-sidebar">
</div>

    <div class="sidebar-menu">
        <a th:href="@{/}">🏠 Beranda</a>
        <a th:href="@{/input}">➕ Input Nasabah</a>
        <a th:href="@{/daftar}">👥 Daftar Nasabah</a>
        <a th:href="@{/simulasi}">💳 Simulasi Kredit</a>
        <a th:href="@{/daftar-kredit}">📋 Daftar Kredit</a>
        <a th:href="@{/laporan}">📊 Laporan</a>
        <a th:href="@{/tentang}">ℹ️ Tentang Aplikasi</a>

        <a th:if="${session.userLogin != null and session.userLogin.role == 'ADMIN'}"
           th:href="@{/users}">
            👤 Manajemen User
        </a>

        <a th:if="${session.userLogin != null and session.userLogin.role == 'ADMIN'}"
           th:href="@{/audit-log}">
            📝 Audit Log
        </a>

        <a th:if="${session.userLogin != null and session.userLogin.role == 'ADMIN'}"
           th:href="@{/database}">
            🗄️ Database
        </a>

        <a th:href="@{/ganti-password}">
    🔐 Ganti Password
</a>
    </div>

    <div class="sidebar-user">
        <div class="login-user">
            👤 <span th:text="${session.username}">postgres</span>
        </div>

        <a th:href="@{/logout}" class="logout-btn">
            🚪 Logout
        </a>
    </div>

</nav>

<div class="container">
    <h1>Tentang Aplikasi</h1>

    <p>
        Aplikasi ini adalah latihan magang pertama untuk membuat sistem input data nasabah.
        Fitur utama meliputi tambah data, edit data, hapus data, dan tampilan daftar nasabah.
    </p>

    <p>
        Data yang digunakan bersifat fiktif untuk kebutuhan pembelajaran.
        Aplikasi ini dapat dikembangkan menjadi sistem banking sederhana dengan fitur transaksi,
        pencarian nasabah, dan laporan data.
    </p>
</div>

</body>
</html>